In [45]:
import pandas as pd
corp_info = pd.read_csv('corp.csv', header=0, encoding = "CP949")
corp_info

,순위,종목코드,종목명,시장구분,종가,대비,등락률,거래량,거래대금,시가총액,시가총액비중,상장주식수
0,1,5930,삼성전자,KOSPI,78200,800,1.03,21604528,1681184112100,466836995410000,17.37,5969782550
1,2,660,SK하이닉스,KOSPI,123500,3500,2.92,5631833,689409143200,89908292077500,3.34,728002365
2,3,35420,NAVER,KOSPI,399500,4500,1.14,748143,297838445500,65623226302500,2.44,164263395
3,4,207940,삼성바이오로직스,KOSPI,916000,2000,0.22,96606,88142052000,60607140000000,2.25,66165000
4,5,5935,삼성전자우,KOSPI,70600,0,0.00,1415020,99829927200,58095801020000,2.16,822886700
5,6,35720,카카오,KOSPI,122500,1500,1.24,2338843,284015537000,54598035135000,2.03,445698246
6,7,51910,LG화학,KOSPI,747000,-4000,-0.53,371186,279214874280,52732480221000,1.96,70592343
7,8,6400,삼성SDI,KOSPI,708000,-2000,-0.28,313022,222294351000,48685287240000,1.81,68764530
8,9,5380,현대차,KOSPI,207000,-500,-0.24,775215,161068910500,44229314709000,1.65,213668187
9,10,270,기아,KOSPI,84100,900,1.08,1774961,149129523059,34091057482700,1.27,405363347
10,11,323410,카카오뱅크,KOSPI,64200,-3300,-4.89,12816162,814769094500,30505223015400,1.13,475159237
11,12,68270,셀트리온,KOSPI,211000,3500,1.69,810939,170359846000,29106844008000,1.08,137947128
12,13,377300,카카오페이,KOSPI,208500,6500,3.22,1752401,367610840500,27181545562500,1.01,130367125
13,14,5490,POSCO,KOSPI,295000,5000,1.72,696363,202277583500,25720116325000,0.96,87186835
14,15,105560,KB금융,KOSPI,57600,100,0.17,1587365,91025586200,23950536192000,0.89,415807920
15,16,259960,크래프톤,KOSPI,479000,14500,3.12,307844,146866076500,23450185055000,0.87,48956545
16,17,12330,현대모비스,KOSPI,241500,500,0.21,415387,100299429000,22839402201000,0.85,94573094
17,18,28260,삼성물산,KOSPI,117500,1000,0.86,671444,78401962000,21959232017500,0.82,186887081
18,19,66570,LG전자,KOSPI,123000,-500,-0.40,1151051,141821136000,20128681122000,0.75,163647814
19,20,55550,신한지주,KOSPI,37650,100,0.27,1866503,70133805950,19449973208100,0.72,516599554
20,21,96770,SK이노베이션,KOSPI,208000,500,0.24,414343,86468556500,19232837312000,0.72,92465564
21,22,302440,SK바이오사이언스,KOSPI,249500,7000,2.89,540786,134036157000,19086750000000,0.71,76500000
22,23,34730,SK,KOSPI,265000,-1000,-0.38,234469,62004442000,18645478705000,0.69,70360297
23,24,51900,LG생활건강,KOSPI,1172000,10000,0.86,73883,86720663550,18304526884000,0.68,15618197
24,25,36570,엔씨소프트,KOSPI,737000,5000,0.68,279949,206588147000,16180114214000,0.60,21954022
25,26,352820,하이브,KOSPI,354500,13500,3.96,541135,191810849500,14659775691500,0.55,41353387
26,27,15760,한국전력,KOSPI,22350,150,0.68,1625508,36246329850,14347897120950,0.53,641964077
27,28,11200,HMM,KOSPI,27650,250,0.91,2098100,57816815300,13521942064400,0.50,489039496
28,29,32830,삼성생명,KOSPI,67200,100,0.15,428498,28768906800,13440000000000,0.50,200000000
29,30,9150,삼성전기,KOSPI,177000,1000,0.57,747694,132857686000,13220784192000,0.49,74693696
30,31,3550,LG,KOSPI,84000,400,0.48,437588,36816869400,13213283412000,0.49,157300993
31,32,91990,셀트리온헬스케어,KOSDAQ,83900,2900,3.58,1094688,90599715700,13006890982200,0.48,155028498
32,33,86790,하나금융지주,KOSPI,43300,100,0.23,1862298,80629066951,13000481284600,0.48,300242062
33,34,361610,SK아이이테크놀로지,KOSPI,172500,4000,2.37,624159,106735585000,12298834620000,0.46,71297592
34,35,17670,SK텔레콤,KOSPI,55900,800,1.45,1291113,71909552751,12232772749600,0.46,218833144
35,36,18260,삼성에스디에스,KOSPI,154500,-2500,-1.59,157910,24518205000,11954870100000,0.44,77377800
36,37,247540,에코프로비엠,KOSDAQ,545100,10100,1.89,316816,170373570800,11948300916600,0.44,21919466
37,38,33780,KT&G,KOSPI,85700,200,0.23,531091,45538774700,11765966992900,0.44,137292497
38,39,3670,포스코케미칼,KOSPI,149500,3000,2.05,378329,56249340000,11580751390000,0.43,77463220
39,40,34020,두산중공업,KOSPI,21650,450,2.12,4477577,96468987850,11271465996900,0.42,520621986
40,41,251270,넷마블,KOSPI,121500,2500,2.10,505705,61690743000,10443350493000,0.39,85953502
41,42,90430,아모레퍼시픽,KOSPI,177500,6500,3.80,336711,59178556500,10382464722500,0.39,58492759
42,43,3490,대한항공,KOSPI,29650,550,1.89,1989060,58850678200,10312887461250,0.38,347820825
43,44,10950,S-Oil,KOSPI,89600,1500,1.70,409745,36776051800,10087418163200,0.38,112582792
44,45,810,삼성화재,KOSPI,210500,1000,0.48,100901,21250453500,9972403188500,0.37,47374837
45,46,10130,고려아연,KOSPI,504000,4000,0.80,59198,29898423000,9510480000000,0.35,18870000
46,47,316140,우리금융지주,KOSPI,13050,0,0.00,2100057,27315288100,9501190164450,0.35,728060549
47,48,329180,현대중공업,KOSPI,107000,-1000,-0.93,393768,42336830000,9498723412000,0.35,88773116
48,49,402340,SK스퀘어,KOSPI,65100,500,0.77,3184427,203522291700,9209538872100,0.34,141467571
49,50,263750,펄어비스,KOSDAQ,131200,8600,7.01,942310,121712670100,8688260800000,0.32,66221500

In [46]:
corp_info = corp_info[['종목코드', '종목명', '종가', '상장주식수']]
corp_info

      종목코드         종목명       종가       상장주식수
0     5930        삼성전자    78200  5969782550
1      660      SK하이닉스   123500   728002365
2    35420       NAVER   399500   164263395
3   207940    삼성바이오로직스   916000    66165000
4     5935       삼성전자우    70600   822886700
5    35720         카카오   122500   445698246
6    51910        LG화학   747000    70592343
7     6400       삼성SDI   708000    68764530
8     5380         현대차   207000   213668187
9      270          기아    84100   405363347
10  323410       카카오뱅크    64200   475159237
11   68270        셀트리온   211000   137947128
12  377300       카카오페이   208500   130367125
13    5490       POSCO   295000    87186835
14  105560        KB금융    57600   415807920
15  259960        크래프톤   479000    48956545
16   12330       현대모비스   241500    94573094
17   28260        삼성물산   117500   186887081
18   66570        LG전자   123000   163647814
19   55550        신한지주    37650   516599554
20   96770     SK이노베이션   208000    92465564
21  302440   SK바이오사이언스   249500    76500000
22   34730          SK   265000    70360297
23   51900      LG생활건강  1172000    15618197
24   36570       엔씨소프트   737000    21954022
25  352820         하이브   354500    41353387
26   15760        한국전력    22350   641964077
27   11200         HMM    27650   489039496
28   32830        삼성생명    67200   200000000
29    9150        삼성전기   177000    74693696
30    3550          LG    84000   157300993
31   91990    셀트리온헬스케어    83900   155028498
32   86790      하나금융지주    43300   300242062
33  361610  SK아이이테크놀로지   172500    71297592
34   17670       SK텔레콤    55900   218833144
35   18260     삼성에스디에스   154500    77377800
36  247540      에코프로비엠   545100    21919466
37   33780        KT&G    85700   137292497
38    3670      포스코케미칼   149500    77463220
39   34020       두산중공업    21650   520621986
40  251270         넷마블   121500    85953502
41   90430      아모레퍼시픽   177500    58492759
42    3490        대한항공    29650   347820825
43   10950       S-Oil    89600   112582792
44     810        삼성화재   210500    47374837
45   10130        고려아연   504000    18870000
46  316140      우리금융지주    13050   728060549
47  329180       현대중공업   107000    88773116
48  402340       SK스퀘어    65100   141467571
49  263750        펄어비스   131200    66221500

In [50]:
def addA(value):
    return 'A' + str(value)
corp_info['종목코드'].apply(addA)
corp_info

         종목코드         종목명         종가         상장주식수
0       A5930        삼성전자    78200.0  5.969783e+09
1        A660      SK하이닉스   123500.0  7.280024e+08
2      A35420       NAVER   399500.0  1.642634e+08
3     A207940    삼성바이오로직스   916000.0  6.616500e+07
4       A5935       삼성전자우    70600.0  8.228867e+08
5      A35720         카카오   122500.0  4.456982e+08
6      A51910        LG화학   747000.0  7.059234e+07
7       A6400       삼성SDI   708000.0  6.876453e+07
8       A5380         현대차   207000.0  2.136682e+08
9        A270          기아    84100.0  4.053633e+08
10    A323410       카카오뱅크    64200.0  4.751592e+08
11     A68270        셀트리온   211000.0  1.379471e+08
12    A377300       카카오페이   208500.0  1.303671e+08
13      A5490       POSCO   295000.0  8.718684e+07
14    A105560        KB금융    57600.0  4.158079e+08
15    A259960        크래프톤   479000.0  4.895654e+07
16     A12330       현대모비스   241500.0  9.457309e+07
17     A28260        삼성물산   117500.0  1.868871e+08
18     A66570        LG전자   123000.0  1.636478e+08
19     A55550        신한지주    37650.0  5.165996e+08
20     A96770     SK이노베이션   208000.0  9.246556e+07
21    A302440   SK바이오사이언스   249500.0  7.650000e+07
22     A34730          SK   265000.0  7.036030e+07
23     A51900      LG생활건강  1172000.0  1.561820e+07
24     A36570       엔씨소프트   737000.0  2.195402e+07
25    A352820         하이브   354500.0  4.135339e+07
26     A15760        한국전력    22350.0  6.419641e+08
27     A11200         HMM    27650.0  4.890395e+08
28     A32830        삼성생명    67200.0  2.000000e+08
29      A9150        삼성전기   177000.0  7.469370e+07
30      A3550          LG    84000.0  1.573010e+08
31     A91990    셀트리온헬스케어    83900.0  1.550285e+08
32     A86790      하나금융지주    43300.0  3.002421e+08
33    A361610  SK아이이테크놀로지   172500.0  7.129759e+07
34     A17670       SK텔레콤    55900.0  2.188331e+08
35     A18260     삼성에스디에스   154500.0  7.737780e+07
36    A247540      에코프로비엠   545100.0  2.191947e+07
37     A33780        KT&G    85700.0  1.372925e+08
38      A3670      포스코케미칼   149500.0  7.746322e+07
39     A34020       두산중공업    21650.0  5.206220e+08
40    A251270         넷마블   121500.0  8.595350e+07
41     A90430      아모레퍼시픽   177500.0  5.849276e+07
42      A3490        대한항공    29650.0  3.478208e+08
43     A10950       S-Oil    89600.0  1.125828e+08
44       A810        삼성화재   210500.0  4.737484e+07
45     A10130        고려아연   504000.0  1.887000e+07
46    A316140      우리금융지주    13050.0  7.280605e+08
47    A329180       현대중공업   107000.0  8.877312e+07
48    A402340       SK스퀘어    65100.0  1.414676e+08
49    A263750        펄어비스   131200.0  6.622150e+07
종목코드      NaN         NaN        NaN           NaN

In [51]:
corp_result = pd.read_excel('SAMPLE_2018.xlsx')
corp_result

,종목코드,회사명,당기순이익,유동자산,부채총계,매출총이익,자본총계,자산총계
0,A000020,동화약품,10068113000,227887463000,73198591000,115903237000,297400652000,370599243000
1,A000040,KR모터스,-24442080000,86949763000,85006462000,-631020000,69894605000,154901067000
2,A000050,경방,20189241000,120711492000,593023494000,107395818000,708769347000,1301792841000
3,A000060,메리츠화재,234721346000,0,18195561629000,0,2283200522000,20478762151000
4,A000070,삼양홀딩스,102512252000,1057235344000,1311855275000,482105988000,2001941981000,3313797255000
...,...,...,...,...,...,...,...,...
2004,A311270,키움제5호스팩,-130749000,0,769275000,0,7103863000,7873138000
2005,A313750,유안타제4호스팩,-13122000,0,1103143000,0,685353000,1788497000
2006,A316140,우리금융지주,0,0,0,0,0,0
2007,A317030,케이비17호스팩,0,0,0,0,0,0
2008,A317320,한화에스비아이스팩,0,0,0,0,0,0

In [26]:
corp_result.columns

0            동화약품
1           KR모터스
2              경방
3           메리츠화재
4           삼양홀딩스
          ...
2004      키움제5호스팩
2005     유안타제4호스팩
2006       우리금융지주
2007     케이비17호스팩
2008    한화에스비아이스팩
Name: 회사명, Length: 2009, dtype: object

In [52]:
corp_data = corp_result[['종목코드', '당기순이익']]
corp_data

         종목코드         당기순이익
0     A000020   10068113000
1     A000040  -24442080000
2     A000050   20189241000
3     A000060  234721346000
4     A000070  102512252000
...       ...           ...
2004  A311270    -130749000
2005  A313750     -13122000
2006  A316140             0
2007  A317030             0
2008  A317320             0

[2009 rows x 2 columns]

In [53]:
corp_total = pd.merge(corp_info, corp_data, how='left', on='종목코드')
corp_total

       종목코드         종목명         종가         상장주식수         당기순이익
0     A5930        삼성전자    78200.0  5.969783e+09           NaN
1      A660      SK하이닉스   123500.0  7.280024e+08           NaN
2    A35420       NAVER   399500.0  1.642634e+08           NaN
3   A207940    삼성바이오로직스   916000.0  6.616500e+07  2.241092e+11
4     A5935       삼성전자우    70600.0  8.228867e+08           NaN
5    A35720         카카오   122500.0  4.456982e+08           NaN
6    A51910        LG화학   747000.0  7.059234e+07           NaN
7     A6400       삼성SDI   708000.0  6.876453e+07           NaN
8     A5380         현대차   207000.0  2.136682e+08           NaN
9      A270          기아    84100.0  4.053633e+08           NaN
10  A323410       카카오뱅크    64200.0  4.751592e+08           NaN
11   A68270        셀트리온   211000.0  1.379471e+08           NaN
12  A377300       카카오페이   208500.0  1.303671e+08           NaN
13    A5490       POSCO   295000.0  8.718684e+07           NaN
14  A105560        KB금융    57600.0  4.158079e+08  3.061946e+12
15  A259960        크래프톤   479000.0  4.895654e+07           NaN
16   A12330       현대모비스   241500.0  9.457309e+07           NaN
17   A28260        삼성물산   117500.0  1.868871e+08           NaN
18   A66570        LG전자   123000.0  1.636478e+08           NaN
19   A55550        신한지주    37650.0  5.165996e+08           NaN
20   A96770     SK이노베이션   208000.0  9.246556e+07           NaN
21  A302440   SK바이오사이언스   249500.0  7.650000e+07           NaN
22   A34730          SK   265000.0  7.036030e+07           NaN
23   A51900      LG생활건강  1172000.0  1.561820e+07           NaN
24   A36570       엔씨소프트   737000.0  2.195402e+07           NaN
25  A352820         하이브   354500.0  4.135339e+07           NaN
26   A15760        한국전력    22350.0  6.419641e+08           NaN
27   A11200         HMM    27650.0  4.890395e+08           NaN
28   A32830        삼성생명    67200.0  2.000000e+08           NaN
29    A9150        삼성전기   177000.0  7.469370e+07           NaN
30    A3550          LG    84000.0  1.573010e+08           NaN
31   A91990    셀트리온헬스케어    83900.0  1.550285e+08           NaN
32   A86790      하나금융지주    43300.0  3.002421e+08           NaN
33  A361610  SK아이이테크놀로지   172500.0  7.129759e+07           NaN
34   A17670       SK텔레콤    55900.0  2.188331e+08           NaN
35   A18260     삼성에스디에스   154500.0  7.737780e+07           NaN
36  A247540      에코프로비엠   545100.0  2.191947e+07  3.685656e+10
37   A33780        KT&G    85700.0  1.372925e+08           NaN
38    A3670      포스코케미칼   149500.0  7.746322e+07           NaN
39   A34020       두산중공업    21650.0  5.206220e+08           NaN
40  A251270         넷마블   121500.0  8.595350e+07  2.149321e+11
41   A90430      아모레퍼시픽   177500.0  5.849276e+07           NaN
42    A3490        대한항공    29650.0  3.478208e+08           NaN
43   A10950       S-Oil    89600.0  1.125828e+08           NaN
44     A810        삼성화재   210500.0  4.737484e+07           NaN
45   A10130        고려아연   504000.0  1.887000e+07           NaN
46  A316140      우리금융지주    13050.0  7.280605e+08  0.000000e+00
47  A329180       현대중공업   107000.0  8.877312e+07           NaN
48  A402340       SK스퀘어    65100.0  1.414676e+08           NaN
49  A263750        펄어비스   131200.0  6.622150e+07  1.464462e+11
50      NaN         NaN        NaN           NaN           NaN

In [56]:
corp_total = corp_info.join(corp_data.set_index('종목코드'), how='outer', on='종목코드')
corp_total

        종목코드       종목명        종가         상장주식수         당기순이익
0.0    A5930      삼성전자   78200.0  5.969783e+09           NaN
1.0     A660    SK하이닉스  123500.0  7.280024e+08           NaN
2.0   A35420     NAVER  399500.0  1.642634e+08           NaN
3.0  A207940  삼성바이오로직스  916000.0  6.616500e+07  2.241092e+11
4.0    A5935     삼성전자우   70600.0  8.228867e+08           NaN
..       ...       ...       ...           ...           ...
NaN  A310870       NaN       NaN           NaN -7.076000e+06
NaN  A311270       NaN       NaN           NaN -1.307490e+08
NaN  A313750       NaN       NaN           NaN -1.312200e+07
NaN  A317030       NaN       NaN           NaN  0.000000e+00
NaN  A317320       NaN       NaN           NaN  0.000000e+00

[2054 rows x 5 columns]